<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Pedidos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Pedidos</ion-title>
    </ion-toolbar>
  </ion-header>

  @for (pedido of pedidos; track $index) {
    <ion-item>
      <ion-avatar>
        <img [src]="pedido.elements[0].image" />
      </ion-avatar>
      {{pedido.user.name}} {{pedido.user.lastName}}
    </ion-item>
  }
</ion-content>
