
<app-navbar-mnu title="New Category"></app-navbar-mnu>
<ion-content [fullscreen]="true">



  <ion-content>

  <form [formGroup]="categoryForm" >
    <ion-item>
      <ion-input  label="Nombre categoría" labelPlacement="floating" class="input ion-margin-top" type="text"  formControlName="name"></ion-input>
    </ion-item>
    <ion-item>

      <ion-input label="Descripción" labelPlacement="floating" class="input ion-margin-top" type="text"   formControlName="description"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input style="margin-top: 15px;" shape="round"   type="file"  (change)="setImage($event)"></ion-input>
    </ion-item>
    <ion-item>
      <ion-button style="margin-top: 55px;" expand="block" fill="clear" shape="round" (click)="addCategory()">Agregar</ion-button>
    </ion-item>
  </form>
  </ion-content>

</ion-content>
