<ion-header>
  <ion-toolbar>
    <ion-title>Nueva Categoría</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-content>
  <form [formGroup]="categoryForm" >
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input type="text" formControlName="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Descripción</ion-label>
      <ion-input type="text" formControlName="description"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Imagen</ion-label>
      <ion-input type="file" (change)="setImage($event)"></ion-input>
    </ion-item>
    <ion-button expand="block" (click)="addCategory()">Agregar</ion-button>
  </form>
  </ion-content>

</ion-content>
