<ion-header [translucent]="true">
  <ion-toolbar  class="ion-text-center">
    <ion-title  class="ion-text-center">Iniciar sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title  size="large" color="white">Iniciar sesión</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid  class="ion-align-items-center ion-align-content-center">

    <ion-row  class="ion-align-items-center ion-align-content-center height">


    <ion-col class="ion-align-items-center ion-align-content-center height">

    <form style="margin-top: 180px;" action="" [formGroup]="formLogin">

    <ion-input  class="input" fill="outline" label="Correo electrónico" [clearInput]="true" labelPlacement="floating" type="email" formControlName="email"></ion-input>


    <ion-input class="input" style="margin-top: 55px;" fill="outline" label="Contraseña" labelPlacement="floating" type="password" formControlName="password"></ion-input>
    </form>
    </ion-col>
    </ion-row>

    <ion-button (click)="iniciar()"  style="margin-top: 55px;" expand="block" fill="clear" shape="round" [disabled]="formLogin.invalid">
      Iniciar sesion
    </ion-button>
  </ion-grid>

</ion-content>
