<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">login</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">login</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
<ion-header >
  <ion-toolbar>

      <ion-title >Inicio de sesión</ion-title>

  </ion-toolbar>
</ion-header>
<ion-avatar  style="margin: 0 auto;">
<img alt="person" src="https://ionicframework.com/docs/img/demos/avatar.svg"  />
</ion-avatar>
<ion-content class="ion-padding">
  <form [formGroup]="form" (submit)="ngOnInit()">
      <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email" required formControlName="email"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password" required formControlName="password"></ion-input>
      </ion-item>
      <ion-button  color="dark" round outline type="submit" class="ion-margin-top" expand="block" [disabled]="form.invalid">Iniciar Sesión</ion-button>
  </form>


</ion-content>
<ion-tabs>
<ion-tab-bar slot="bottom">
 <ion-back-button color="primary" defaultHref="seccion"></ion-back-button>
</ion-tab-bar>
</ion-tabs>
