<ion-content [fullscreen]="true">
  <ion-grid  class="ion-align-items-center ion-align-content-center">

    <ion-row style="margin-top: 55px;" >
      <ion-col size="12"> <ion-img class="image" src="assets\images\logo\imagotipo.png" ></ion-img></ion-col>
    </ion-row>

    <ion-row  class="ion-align-items-center ion-align-content-center height">

    <ion-col class="ion-align-items-center ion-align-content-center height">

    <form style="margin-top: 25px;" action="" [formGroup]="formLogin">

    <ion-input mode="md" class="input" fill="outline" label="Correo electrónico" [clearInput]="true" labelPlacement="floating" type="email" formControlName="email"></ion-input>


    <ion-input mode="md" class="input" style="margin-top: 55px;" fill="outline" label="Contraseña" labelPlacement="floating" type="password" formControlName="password">
      <ion-input-password-toggle color="secondary" slot="end"></ion-input-password-toggle>
    </ion-input>
    </form>
    </ion-col>
    </ion-row>

    <ion-button (click)="iniciar()" class="montse" color="primary" style="margin-top: 55px;" expand="block" shape="round" [disabled]="formLogin.invalid">
      Iniciar sesion
    </ion-button>
  </ion-grid>

</ion-content>
