<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Categorias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title style="font-family:'Helvetica Neue';" size="large">Categorias</ion-title>
    </ion-toolbar>
  </ion-header>

  <div>
    <ion-grid>
      <ion-row >
        <ion-col size="6" >
          <ion-card *ngFor="let category  of categories" class="card" >
              <ion-img class="img" [src]="category.image"  ></ion-img>
            <ion-card-header>
              <ion-card-title style="font-family:'Monserrat';"style="text-transform: uppercase;" >{{category.name | truncate}}</ion-card-title>
            </ion-card-header>
            <ion-card-content style="font-family:'Monserrat';" style="text-transform: capitalize;">
              {{category.description |truncate:20 }}
            </ion-card-content>
            <ion-row>
              <ion-button (click)="deleteCategory(category)" >
                <ion-icon  name="trash-outline"></ion-icon>
              </ion-button>
              <ion-button >
                <ion-icon name="create-outline"></ion-icon>
              </ion-button>
            </ion-row>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>
<ion-fab slot="fixed" vertical="bottom" horizontal="end">
  <ion-fab-button>
    <ion-icon  (click)="navigateToNew()" name="add-circle-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>


<style>
  .botonAdd {
    position: fixed;
    bottom: 20px;
    right: 20px;
    text-align: center;
    font-size: 30px;
    border-radius:5px;
  }
  .card{
    border-radius:15px;
    position: inherit;
    align-self: center;
    align-content: center;
    width: 250px;
    height: 400px;
    padding: 5%;
    border: 5%;
  }
  .img{
    width: 200px;
    height: 150px;
  }
</style>
