<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PERFIL</title>
    <link
      href="https://cdn.jsdelivr.net/npm/@ionic/core/css/ionic.bundle.css"
      rel="stylesheet"
    />
  </head>

  <body>
    <ion-app>
      <ion-header>
        <ion-toolbar>
          <ion-title>Perfil del Cliente</ion-title>
        </ion-toolbar>
      </ion-header>

      <ion-content>
        <ion-list>
          <ion-item>
            <ion-label position="floating">Nombre</ion-label>
            <ion-input [(ngModel)]="profile.name" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input
              [(ngModel)]="profile.email"
              type="email"
              required
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Teléfono</ion-label>
            <ion-input
              [(ngModel)]="profile.phone"
              type="tel"
              required
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input
              [(ngModel)]="profile.password"
              type="password"
              required
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Confirmar Contraseña</ion-label>
            <ion-input
              [(ngModel)]="confirmPassword"
              type="password"
              required
            ></ion-input>
          </ion-item>
        </ion-list>
        <ion-button expand="full" (click)="updateProfile()"
          >Actualizar Perfil</ion-button
        >
      </ion-content>
    </ion-app>

    <script
      type="module"
      src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.esm.js"
    ></script>
    <script
      nomodule
      src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.js"
    ></script>
  </body>
</html>
