.input{
  --background: #ffffff;
  --color: black;
  --padding-start: 25px;
  --pading-top: 0px;
  --padding-bottom: 0px;
  --border-width: 1px;
  --border-style: solid gray;
  --border-radius: 25px;
}
